
<div class="p-4 text-center">
<h1>Result</h1>

<h3> the word "<%= params[:word] %>"
<%= @result %> </h3>
<p> <%= params[:letters] %> </p>
<p> <%= @points %> </p>


<%= link_to "Play again!", new_path %>
<div>
